* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #4f4b4ba2;
}

.pagination {
    display: none;
}

.slider-wrapper {
    display: grid;
    grid-template-areas: 
    "img img img"
    "desc desc btns";
    margin: 0 auto;
    overflow: hidden;
    width: 70vw;
}

.slides {
    grid-area: img;
    width: 70vw;
    display: flex;
    margin: 5vh auto;
    transition: all 1s ease;
}

.slide img {
    width: 70vw;
    height: 80vh;
}

.descriptions {
    grid-area: desc;
    display: flex;
    width: 60vw;
    transition: all 1s ease;
}

.description {
    font-size: 2em;
    color: #FFF;
    width: 70vw;
}

.paginations {
    grid-area: btns;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.2rem;
}

.paginations label{
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: #0000ff 2px solid;
    background-color: #0000ff;
    display: inline-block;
}

.paginations label:hover {
    background-color: #fff;
    border-color: #fff;
}
.slider-wrapper input:nth-child(1):checked ~ .paginations label:nth-child(1),
.slider-wrapper input:nth-child(2):checked ~ .paginations label:nth-child(2),
.slider-wrapper input:nth-child(3):checked ~ .paginations label:nth-child(3),
.slider-wrapper input:nth-child(4):checked ~ .paginations label:nth-child(4) {
    border-color: #0000ff;
    background-color: transparent;
}

.slider-wrapper input:nth-child(1):checked:hover ~ .paginations label:nth-child(1),
.slider-wrapper input:nth-child(2):checked:hover ~ .paginations label:nth-child(2),
.slider-wrapper input:nth-child(3):checked:hover ~ .paginations label:nth-child(3),
.slider-wrapper input:nth-child(4):checked:hover ~ .paginations label:nth-child(4) {
    background-color: transparent;
    border-color: #fff;
}